{% extends "index.html" %}
{% block loginsignup %}
<div class="container-fluid mt-5 w-60 p-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="POST" action="/login">
                        <!-- email input -->
                        <div class="mb-3">
                            <label for="email" class="form-label content-start">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required placeholder="Enter your email">
                        </div>

                        <!-- password input -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required placeholder="Enter your password">
                        </div>

                        <!-- submit button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}