{% extends "index.html" %}
{% block loginsignup %}
<div class="container-fluid mt-5 w-60 p-3">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Signup</h2>
                    <form method="POST" action="/signup">
                        <!-- username input -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required placeholder="Enter your username">
                        </div>

                        <!-- email input -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required placeholder="Enter your email">
                        </div>

                        <!-- password input -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required placeholder="Enter your password">
                        </div>

                        <!-- height input -->
                        <div class="mb-3">
                            <label for="height" class="form-label">Height (m):</label>
                            <input type="number" step="0.01" class="form-control" id="height" name="height" required placeholder="Enter your height">
                        </div>

                        <!-- submit button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}